div[class=header]{
    float: left;
    text-align: center;
    padding: 12px;
    margin: auto;
    align-content: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: antiquewhite;
}

div[class="content"]{
    text-align: left;
    margin-bottom: auto;
    font-size: 18px;
}