h2{
    text-align: center;
}

button{
    background-color: rgb(255, 255, 255);
    color: rgb(24, 95, 166);
    width: 15%;
    height: 30%;
    cursor: pointer;
}

body{
    background-color: rgb(182, 243, 243);
}

div[class=log-form]{
    margin: auto;
    align-content: center;
    
    padding: 8px 16px;
    background-color: antiquewhite;
}

div[class=header]{
    float: left;
    text-align: center;
    padding: 12px;
    margin: auto;
    align-content: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: antiquewhite;
}

input[type=text], input[type=password]{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {  
    padding: 50px;  
    background-color:  antiquewhite ;  
}  


hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
}  

.registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  

}  

.registerbtn:hover {  

    opacity: 1;  

}  